@model GestionEni.Models.Cursus

@{
    ViewBag.Title = "Ajout Formation";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<h4 class="header">Création Cursus</h4>
<hr />
  <div class="row">
    @using (Html.BeginForm())
{    @Html.HiddenFor(x => x.IdCursus)
      <div class="alert alert-danger">@Html.ValidationSummary()</div>
      <div class="row">
        <div class="input-field col s6">
            @Html.TextBoxFor(x => x.libelle, new { @class = "validate"})
          <label for="first_name">Libelle</label>
        </div>
         <div class="input-field col s6">
            @Html.TextBoxFor(x => x.niveauEtude, new { @class = "validate"})
          <label for="first_name">Niveau Etude</label>
        </div>
        <div class="col s12">
            <p> Description : </p>
            @Html.TextAreaFor(x => x.description)
        </div>
      </div>
          <button class="btn waves-effect waves-light green" type="submit" name="action">
              <i class="material-icons right">send</i>
              Créer
        </button>
    }  

  </div>
<script>tinymce.init({ selector:'textarea' });</script>