<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.css" />

    @Styles.Render("~/Content/admin.css")
    @Styles.Render("~/Content/materialize.min.css")
</head>
<body class="grey lighten-2">
    @Html.Partial("header_admin")
    <div class="row">
        <div class="col s3">
            @Html.Partial("NavBar")
        </div>
        <div class="col s9">
            @RenderBody()
        </div>
    </div>
        
    @Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
    @Scripts.Render("~/Scripts/materialize.min.js")
    @RenderSection("scripts", required: false)
    <script>
        $(function() {
            $(document).ready(function () {
                $('select').material_select();
            });
        });

        
    </script>
</body>
</html>
