<nav class="indigo">
    <div class="nav-wrapper">
        <div class="col s12">
            <a  href="@Url.RouteUrl("Home")" class="brand-logo right"><img src="@Url.Content("content/images/logo-eni.png")" /></a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="left hide-on-med-and-down">
                <li>
                    <a href="@Url.RouteUrl("Formation")">Nos formations</a>
                </li>
                <li>
                    <a href="components.html">Nos sites</a>
                </li>
                <li>
                    <a href="@Url.RouteUrl("Login")">Se connecter</a>
                </li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li>
                    <a href="sass.html">Nos formations</a>
                </li>
                <li>
                    <a href="components.html">Nos sites</a>
                </li>
                @if(Session["personneCo"] == null)
                {
                <li>
                    <a href="@Url.RouteUrl("Login")">Se connecter</a>
                </li>

                }
                else
                {

                    <a href="@Url.RouteUrl("Admin")">Accéder à mon espace</a>
                }
        
            </ul>
       </div>
   </div>
</nav>
