@model IEnumerable<GestionEni.Models.Personne>


@{
    ViewBag.Title = "Personne";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

        <h4 class="header">Gestion des utilisateurs 
             <a href="@Url.RouteUrl("create_personne")" class="btn-floating btn waves-effect waves-light red right"><i class="material-icons">add</i></a>
           </h4>
        <hr />
        
          <table class="responsive-table">
                <thead>
                  <tr>
                      <th>#</th>
                      <th>Utilisateur</th>
                      <th>Nom complet</th>       
                      <th>Email</th>
                      <th>Rôle</th>
                      <th>Action</th>
                  </tr>
                </thead>

                <tbody>
                     @foreach(GestionEni.Models.Personne p in Model){
                  <tr>
                    <td>@p.IdPersonne</td>
                    <td>@p.username</td>
                    <td>@p.lastname @p.firstname</td>
                    <td>@p.email</td>
                    <td>@p.Role1.libelle</td>
                    <td>   
                       <a class="btn-floating btn blue">
                           <i class="material-icons">search</i>
                        </a> 
                        <a class="btn-floating btn green" href="@Url.Action("Edit", "Personne", new { id = p.IdPersonne })">
                            <i class="large material-icons">mode_edit</i>
                        </a>
                        <a class="btn-floating btn red" @Url.Action("Delete", "Personne", new { id = p.IdPersonne })>
                            <i class="material-icons">delete</i>
                        </a>

                    </td>

                  </tr>
            }

                </tbody>
        </table>
